<html>
  <head>
    <title>
      Home Page
    </title>
</head>
<body>
  <header>
    <h1>Welcome to my about Page</h1>
    <p>This is html created for my rails application</p>
    <%= link_to "Home", root_path %>
  </header>
  <footer>
    Lucas Padden | 2017 | Udemy RoR Course
  </footer>
</body>
</html>