<html>
  <head>
    <title>
      Home Page
    </title>
</head>
<body>
  <header>
    <h1>Welcome to my Home Page</h1>
    <p>This is html created for my rails application</p>
    <%= link_to "About", about_path %>
    <p>
      <%= link_to "Alpha Blog", articles_path %>
    </p>
  </header>
  <footer>
    Lucas Padden | 2017 | Udemy RoR Course
  </footer>
</body>
</html>